{% load static %}

{% block js %}
<script src="{% static 'app/js/lista.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'app/css/lista.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-brand">
                <div class="logo">
                    <img src="{% static 'app/img/paw.png' %}" alt="">
                </div>
                <a href="{% url 'home' %}" class="navbar-title">Mascota Feliz</a>
            </div>
            <a href="{% url 'login' %}" class="navbar-user">
                <div class="user-icon"></div>
            </a>
        </div>
    </nav>
<div class="container mt-4">
    <h2>Lista de Agendas Registradas</h2>
    <table class="table table-bordered table-striped mt-3">
        <thead class="thead-dark">
            <tr>
                <th>RUT del Dueño</th>
                <th>Nombre del Dueño</th>
                <th>Nombre de la Mascota</th>
                <th>Fecha de Atención</th>
                <th>Hora de Atención</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for agenda in agendas %}
            <tr>
                <td>{{ agenda.rut_dueño }}</td>
                <td>{{ agenda.nombre_duenio }} {{ agenda.apellido_duenio }}</td>
                <td>{{ agenda.nombre_mascota }}</td>
                <td>{{ agenda.fecha_agendada }}</td>
                <td>{{ agenda.hora_agendada }}</td>
                <td>
                    <a href="{% url 'trabajador' agenda.id_agenda %}" class="btn btn-primary btn-sm">Cita</a>
                    <button class="btn btn-danger btn-sm btn-eliminar" data-id="{{ agenda.id_agenda }}">Eliminar</button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No hay agendas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

